/* .banner img{
 height:87vh;
 width:100%;
} */
.card{
    width:800px;
    height:230px;
    margin: 10px;
    box-shadow: 10px 10px 10px 10px rgba(200,200,200,0.5);
 
}
.card img{
    width:200px;
    height:230px;
    border-radius: 5px;
}
 .card h1{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 30px;
 }
 .details{
     font-size: 20px;
     padding:30px;
 }
 .details input{
     font-size: 20px;
     margin:5px;
     width:50px;
 }
 