<!-- <div class="banner">
  <div align="center">
    <img src="../../../assets/images-3.jpeg" />
     
  </div>
</div> -->

<div *ngFor="let profile of profiles">
  <div class="card">
    <div fxLayout="row" fxLayoutAlign="space-evenly start">
      <div>
        <img src="{{ profile.img }}" alt="proImg" />
      </div>
      <div class="details">
        <h1>{{ profile.name }}</h1>
        <br />
        <b> mobile no:</b>{{ profile.mobile }} <br />
        <b>Email:</b> {{ profile.email }} <br />
        <b>Password:</b> {{ profile.pass }}<br>
        <input type="text" placeholder="size">
      </div>
      <div>
        <b>Rs:1200</b>
      </div>
    </div>
  </div>
</div>
