<div class="navbar">
  <div align="center">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div fxFlex="20">
        <h1>Nestle</h1>
      </div>
      <div fxFlex="50">
        <a href="#">Home</a>
        <a href="#">AboutUs</a>
        <a href="#">ContactUs</a>
      </div>
      <div fxFlex="30">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <button routerLink='/login'>login</button>
        <button routerLink='/signup'>signup</button>
      </div>
    </div>
  </div>
</div>
